
.main {
    margin: 0 auto;
    width: 100%;
    padding: 200px 0 100px 0;
    background-image: url('../../../assets/img/charlesdeluvio-Lks7vei-eAg-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 82vh;
}
.main__title{
    font-family: 'Inter', sans-serif;
    font-size: 36px; /* Размер шрифта */
    font-weight: bold; /* Жирный вес шрифта */
    color: #ffffff; /* Цвет шрифта */
    text-transform: uppercase; /* Привести текст к верхнему регистру */
    text-align: center; /* Выравнивание по центру */
    padding: 20px 0; /* Отступ сверху и снизу */
    margin: 0 auto; /* Центрирование на странице */
}

.main__items {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main__buttons-expert {
    width: 140px;
    height: 35px;
    margin-right: 10px;
    font-size: 14px;
    font-family: 'inter';
    border-radius: 5px;
    border: none;
    border-radius: 4px;

}

.main__buttons-active {
    background: black;
    color: white;
}

.main__buttons-employer {

    width: 140px;
    height: 35px;
    font-size: 14px;
    font-family: 'inter';
    border: none;
    border-radius: 4px;
}


.form {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

@media (max-width: 1200px) {
    .form {
        width: 80%;
    }
}

@media only screen and (max-width: 900px) {
    .main__title {
      font-size: 32px;
      padding: 15px 0;
    }
  }

@media (max-width: 1020px) {
    .form {
        width: 90%;
    }
}

@media (max-width: 720px) {
    .form {
        width: 100%;
    }
    .main__title{

    }
}

@media (max-width: 320px) {
    .form__input {
        font-size: 14px;
        padding: 8px;
    }

    .form__button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

.form__input {
    margin: 0;
    width: 100%;
    max-width: 70%;
    padding: 10px;
    /* margin-right: 10px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form__button {
    width: 30%;
    max-width: 150px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: 0;

}

.form__button:hover {
    background-color: #0062cc;
}
