@import url('./vendor/normalize.css');
@import url('./assets/fonts/fonts.css');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #cccccc;
    font-family: 'Inter', sans-serif;
    min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    background: #fafafa;
    font-family: "Inter";

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
