.message {
  max-width: 320px;
  flex-grow: 0;
  display: flex;
  align-items: flex-end;
  position: relative;
  margin: 20px 0;
}

.message__text {
  /* background-color: #000000; */
  border-radius: 10px 10px 10px 0;
  background: #d9e2ec;
  color: #294158;
  box-sizing: border-box;
  padding: 10px 15px;
  position: relative;
  margin-bottom: 3px;
  transition: .3s;
}



.message__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  flex-shrink: 0;
}

.message__paragraph {
  user-select: none;
  pointer-events: none;
}

.message__paragraph:first-child {
  margin-top: 0;
}

.message__paragraph:last-child {
  margin-bottom: 0;
}

.message__text::before,
.message__text::after {
  content: "";
  position: absolute;
  height: 20px;
  bottom: 0;
  transition: .3s;
}



.message__text_is-active::before {
  background: #0085D1;
}

.message_type_user .message__text::after {
  left: auto;
  right: -10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
}
.message__paragraph_type_user{
  color: white;
}
.message_type_user .message__text::before {
  left: auto;
  right: -7px;
  bottom: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 15px;
}

.message_type_user .message__avatar {
  margin: 0 0 0 10px;
}

.message_type_user {
  margin-left: auto;
}
.message__text_type_user{
  background-color: #2186eb;
}

.message_type_user .message__text {
  margin-left: auto;
  border-radius: 10px 10px 0 10px;
}